<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>870233266055-62t9oaggc0glio1jpl5ldf3mjaofi743.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870233266055-62t9oaggc0glio1jpl5ldf3mjaofi743</string>
	<key>API_KEY</key>
	<string>AIzaSyBXXAELJV0WGozSWDuTOi4xK4bxSIe-daQ</string>
	<key>GCM_SENDER_ID</key>
	<string>870233266055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jiraporn.ios.tire.tire</string>
	<key>PROJECT_ID</key>
	<string>tire-33b19</string>
	<key>STORAGE_BUCKET</key>
	<string>tire-33b19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870233266055:ios:de914a2c601bd210</string>
	<key>DATABASE_URL</key>
	<string>https://tire-33b19.firebaseio.com</string>
</dict>
</plist>